In [ ]:
import random

options = ["r" , "p", "s"] 3 rock paper scissor

computer_chosen = random.choice(options)

user_chosen = input("please enter r or p or s")

if (computer_chosen == "p" and user_chosen == "r"):
    print(f"computer chose {computer_chosen} and user chose {user_chosen}")
    print(f"computer wins")
elif(computer_chosen == "s" and user_chosen == "r")
    print(f"computer chose {computer_chosen} and user chose {user_chosen}")
     Print

## cont on i/o context managers

In [3]:
file = "./input.txt"

with open(file, "r") as textfile: 
    print(textfile.read())

FileNotFoundError: [Errno 2] No such file or directory: './input.txt'

In [5]:
import csv
import os

csvpath = os.path.join(".","comic_books.csv")

with open(csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter = ",")
    csv_header = next(csvreader)
    print(csv_headers)
    print(f"--"*40)
    for x in csvreader:
        print(x)
    # i want to print the title in publisher

FileNotFoundError: [Errno 2] No such file or directory: '.\\comic_books.csv'

## pandas

In [6]:
import pandas as pd

In [7]:
my_list = ["a", "b", "c", "d", "e", "f", "g"]

In [8]:
my_series = pd.Series(my_list)

In [9]:
type(my_series)

pandas.core.series.Series

In [10]:
my_series.dtype

dtype('O')

In [12]:
my_series.pop(6)

'g'

In [13]:
my_series

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [14]:
my_series.value_counts()

a    1
b    1
c    1
d    1
e    1
f    1
Name: count, dtype: int64

In [15]:
my_series.unique()

array(['a', 'b', 'c', 'd', 'e', 'f'], dtype=object)

In [16]:
my_series.nunique()

6

In [17]:
my_dict = {
    "msft":160,
    "tsla":190,
    "goog":210,
    "twtr":240
}

In [18]:
my_series2 = pd.Series(my_dict)

In [19]:
type(my_series2)

pandas.core.series.Series

In [21]:
my_series2.dtypes

dtype('int64')

In [22]:
my_series2.value_counts()

160    1
190    1
210    1
240    1
Name: count, dtype: int64

In [23]:
my_series2

msft    160
tsla    190
goog    210
twtr    240
dtype: int64

In [25]:
my_series2["twtr"]

240

In [27]:
# my_series2.describe()

my_series2.describe(include = "all")

count      4.000000
mean     200.000000
std       33.665016
min      160.000000
25%      182.500000
50%      200.000000
75%      217.500000
max      240.000000
dtype: float64

In [29]:
my_series2.mean()

200.0

In [31]:
my_series2.std()

33.665016461206925

In [32]:
my_series2.min()

160

In [33]:
my_series2.max()

240

In [34]:
my_series2.quantile(.25)
my_series2.quantile()
my_series2.quantile(.75)

217.5

In [35]:
my_series2.quantile(.27)

184.3

In [37]:
for x in my_series2:
    print(x)

160
190
210
240

In [39]:
for k, v in my_series2.items():
    print(k,v)

msft 160
tsla 190
goog 210
twtr 240

In [40]:
my_series2.T ## T is to transpose

msft    160
tsla    190
goog    210
twtr    240
dtype: int64

In [46]:
pd.DataFrame([my_dict])

   msft  tsla  goog  twtr
0   160   190   210   240

In [47]:
my_dict

{'msft': 160, 'tsla': 190, 'goog': 210, 'twtr': 240}

In [48]:
[my_dict]

[{'msft': 160, 'tsla': 190, 'goog': 210, 'twtr': 240}]

In [49]:
my_dict2 = {"col1": [1,2], "col2":[3,4]}

In [50]:
pd.DataFrame(my_dict2)

   col1  col2
0     1     3
1     2     4

In [ ]:
pd.read_csv("dat")